* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 10vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* position: relative; */
}

#header {
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    display: block;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#clgname {
    color: crimson;
    margin: 0 100px;
    text-align: center;
}

#header .header {
    z-index: 1;
    min-height: 8vh;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    font-family: 'Baloo Bhai 2', serif;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.5s ease opacity;
}

#header .header.scrolled {
    opacity: 0.5;
    z-index: -1;
}

#header .header span {
    color: crimson;
}

#header .header h1 {
    font-size: 2em;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
    margin-left: 20px;
    padding: 2px;
}

#info {
    /* width: 90%; */
    position: relative;
    margin: 40x;
    top: 100px;
    font-family: 'Baloo Bhai 2', serif;
    /* color: crimson; */
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

p.red {
    font-size: 2em;
    font-weight: 600;
}

table {
    padding: 0 10px;
}

#info .info h1 {
    /* margin: 5px; */
    padding: auto;
    margin-bottom: 20px;
    font-size: 2em;
}

#data .details {
    display: flex;
    flex-direction: row;
}

#data .data {
    position: relative;
    top: 100px;
    width: 37%;
    font-family: 'Montserrat', serif;
    color: crimson;
    margin-left: 60px;
    font-size: 1.2em;
    word-spacing: 10px;
    line-height: 1.6;
}

#data .table {
    position: relative;
    top: 100px;
    font-family: 'Montserrat', serif;
    color: crimson;
    margin-left: 60px;
}

#data .data p {
    padding-top: 20px;
    color: #29323c;
}

.grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 5px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding: 5px;
    height: 550px;
    font-family: 'Baloo Bhai 2', serif;
    border-radius: 5px;
    background-color: transparent;
}

.grid>div {
    background-color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    color: black;
}

.grid>div img {
    height: 30px;
    width: 30px;
    /* margin-left: 20px; */
}

.grid>div a {
    font-size: 0.8em;
    color: crimson;
}

.grid>div a:hover {
    color: blue;
}

.grid>div img {
    margin-right: 20px;
}

.red {
    color: crimson;
}

#clgitro {
    text-align: left;
    width: 30%;
    color: crimson;
}

#about {
    margin-right: 30px;
    width: 50%;
}

#hehe {
    text-align: center;
    /* border: 1px solid #000; */
}